# Firebase Configuration (Opcional - caso deseje conectar ao banco em nuvem)
# O sistema funciona 100% de imediato em modo demonstração local com persistência no LocalStorage.
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=lar-do-anciao.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=lar-do-anciao
VITE_FIREBASE_STORAGE_BUCKET=lar-do-anciao.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
